<nav>
   <div class="nav-wrapper cyan darken-4">
     <a href="/" class="brand-logo">Hangman</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <% if (!user_signed_in?) %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>

         <% if current_user.currentgame.nil? || (@current_game.blank?)  %>
           <li>
             <%= link_to "New Game", new_game_path %>
           </li>
         <% else %>
           <li>
             <%= link_to "Current Game", game_path(@current_game) %>
           </li>

        <% end %>
         <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

       <% end %>
     </ul>
   </div>
 </nav>
